.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: var(--bg-nav);
  border: 1px solid var(--border-light);
  color: var(--text-bright);
}

nav {
  display: flex;
  gap: 12px;
}

a {
  border: 1px solid var(--primary-blue);
  padding: 4px 8px;
  text-decoration: none;
  color: inherit;
}
