:host {
  display: block;
  height: 100%;
}

.fleet-tracking {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  .header-section {
    padding: 0px 20px;

    .badge {
      background: var(--glass-bg);
      color: var(--primary-blue);
      padding: 2px 8px;
      border-radius: 4px;
      font-size: 0.5rem;
      border: 1px solid var(--primary-blue);
      animation: pulse 2s infinite;
      position: absolute;
      top: 40px;
      right: 50px;
    }

    @keyframes pulse {
      0% {
        opacity: 0.8;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0.8;
      }
    }
  }

  .map-container {
    flex: 1;
    height: 100%;
    width: 100%;
  }
}

::ng-deep google-map > div {
  height: 100% !important;
  width: 100% !important;
  min-height: 380px !important;
}
