.dashboard {
  padding: 20px;
  background-color: var(--bg-card);
  height: 100%;

  .part-one {
    margin-bottom: 20px;
  }

  hr {
    border: none;
    border-top: 2px solid var(--primary-glow);
    margin: 20px 0;
  }

  .part-two {
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 1.2fr 2fr 0.8fr;
    grid-template-rows: 5fr 1fr;
    gap: 24px;
    padding: 20px;

    .activity,
    .fleet {
      overflow: hidden;
    }

    .activity {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .fleet {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .analytics {
      height: 1000px;
      grid-column: 3 / 3;
      grid-row: 1 / 3;
    }

    .scheduler {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }
}
